.clients {
    background-color: #f8f8f8;
    padding-bottom: 90px;
}

.clientslogo {
    display: inline-block;
    margin: 100px 0 50px 120px;
}

.clientslogo a{
    margin-right:60px;
}

.clientslogo a img {
    vertical-align: middle;
}

.slide1 {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #555555;
}

blockquote {
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
    padding-bottom: 20px;
}


.slick-dots {
    position: relative;
    bottom: -35px;
    margin:0;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #dddddd;
    width: 13px;
    height: 13px;
    border-radius: 24px;
    background-color: #dddddd;
}

.slick-dots li button:before {
    display: none;
}

ul .slick-active button {
    background-color: #c0301c;
    border: 1px solid #c0301c;
    width: 13px;
    height: 13px;
    border-radius: 24px;
}




@media (max-width: 768px) {

    .clientslogo a {
        display: block;
        margin: 0;
    }

    .clientslogo a img {
        display: block;
        text-align: center;
        padding-top: 50px;
        margin: auto;
    }

    .clientslogo {
        display: block;
        text-align: center;
        margin: 0;
    }

}

