.getintouch {
    background: url("../images/backgroundGETINTOUCH.jpg") center center no-repeat;
    width: auto;
    height: 100%;
    text-align: center;
    margin: auto;
    padding-bottom:73px;
}

.gettext {
    font-size: 30px;
    color: #ffffff;
    padding-top: 116px;
    line-height: 1.37;
}

.getintouch .getit{
    font-size: 18px;
    margin-top: 45px;
    padding: 15px 1px 13px;
    transition: background-color 0.3s;
}

.getintouch.getit:hover {
    background-color: #ffffff;
}

.getintouch.getit a {
    color: #ffffff;
    transition:  color 0.3s;
}

.getintouch.getit a:hover {
    color: #c0301c;
}

