
.contacts {
    float: left;
    margin-top: 53px;

}

.contlist {
    list-style: none;
    text-align: left;
    padding-left: 135px;
}

.contlist li {
    position: relative;
    font-size:14px;
    color:#555555;
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.contlist li:before {
    content: '';
    position: absolute;
    top: -80%;
    right: 0;
    bottom: 0;
    left: -122%;
}

.contlist li:first-child:before{
    background: url("img/address.png") center center no-repeat;
}

.contlist li:nth-of-type(2):before {
    background: url("img/phone.png") center center no-repeat;
    bottom: -45%;
}

.contlist li:nth-of-type(3):before {
    background: url("img/email.png") center center no-repeat;
    bottom: -45%;
}


.contlist li div {
    margin-top: 20px;
}

.contlist li div a {
    font-size: 12px;
    color: #555555;
    line-height: 1.6;
    transition: color 0.3s;
}

.contlist li div a:hover {
    color: #c0301c;
}

.contlist li:nth-of-type(3),
.contlist li:nth-of-type(2){
    padding-top: 25px;
}


.subscription {
    float: right;
    margin-top: 70px;
    padding-right: 90px;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input.uniform-input {
    width: 330px;
    height: 35px;
    font-size: 12px;
    color: #555555;
    box-sizing: content-box;
    padding-left: 15px;
    font-family: 'Roboto Slab', Arial, "Helvetica Neue", Helvetica, sans-serif;
    border:1px solid #555555;
    border-radius: 0;
    margin-right:25px;
    margin-bottom: 20px;
}

input.uniform-input:hover{
    border:1px solid #c0301c;
}

.message input.uniform-input {
    padding: 0 385px 65px 15px;
}



div.button:hover {
    border: 1px solid #c0301c;
}

div.button {
    position: relative;
    background: none;
    padding-bottom: 14px;
    margin: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    cursor: default;

}

div.button span {
    background: none;
    font-size: 12px;
    padding: 12px 24px;
    color: #555555;
    font-family: 'Roboto Slab', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.button  {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    float: left;
    width: 175px;
    font-size: 12px;
    color: #555555;
    box-sizing: content-box;
    padding-left: 15px;
    font-family: 'Roboto Slab', Arial, "Helvetica Neue", Helvetica, sans-serif;
    border:1px solid #555555;
    box-shadow: none;
    border-radius: 0;
    margin-right:25px;
    margin-bottom: 20px;
    background: none;
    padding-top: 16px;
    cursor: default;
}


.comm {
    margin: auto;
    text-align: center;
    font-size: 12px;
    color: #555555;
}



@media (max-width: 1210px) {
    .contacts {
        float: none;
        margin: 0;

    }

    .contlist {
        padding: 0;
        text-align: center;
    }

    .contlist li {
        display: inline-block;
        margin-right: 10px;
    }

    .contlist li:before {
        left: -60%
    }

    .contlist li:nth-of-type(2):before {
        left: -80%;
    }
}


@media (max-width: 1140px){

    .contacts{
        float: none;
        margin: 0;

    }

    .contlist{
        padding: 0;
        text-align: center;
    }

    .contlist li{
        display: inline-block;
        margin-right: 10px;
    }

    .contlist li:before{
        left: -60%
    }
    .contlist li:nth-of-type(2):before{
        left: -80%;
    }
    .subscription {
        float: none;
        text-align: center;
        padding: 0;
    }

    form {
        margin-left: 10px;
    }
    input.uniform-input {
        margin-right: 13px;
    }

    .message input.uniform-input {
        width: 330px;
        height: 35px;
        padding: 0  0 65px 15px;
    }

    .button {
        float: none;
    }

    .comm {


    }
}

