.aboutustext {
    padding-bottom: 100px;
}

.service,
.aboutus {
    margin: 90px auto 95px;
    text-align: center;
}

.aboutus {
    margin-bottom: 70px;

}

h4 {
    font-size: 20px;
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 auto;
    color: #555555;
}

.aboutus h4{
    padding-top: 99px
}

hr {
    width: 50px;
    height: 2px;
    margin: 25px auto;
    border: none;
    background-color:#555555;
}


.service span,
.aboutus span,
.blogheadlines span{
    font-family: 'Roboto Slab', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #555555;
    margin-top: 30px;
    line-height: 1.30;
}

.servicetype,
.aboutustextpart {
    margin: 70px 0;
    color: #555555;
    font-size: 14px;
}

.aboutustextpart {
    
}

.servicetypeelement,
.textpart {
    display: inline-block;
}

.servicetypeelement:first-child {
    padding-right: 43px;
}

.servicetypeelement:last-child {
    padding-left: 43px;
}


.textpart:first-child {
    padding-right: 14px;
}

.textpart:last-child {
    padding-left: 14px;
}

.servicetype h5{
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 30px auto 15px;
    font-size: 14px;
}
.aboutustextpart span,
.servicetype span{
    font-size: 14px;
    font-family: 'Roboto Slab', Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.7;
}

.aboutusbackcolor{
    background-color: #f8f8f8;
}




.works{
    margin: 96px auto 77px;
    text-align: center;
}


.latesworksmenu {
    list-style: none;
    margin: 25px auto 45px;
}

.latesworksmenu li{
    display: inline;
    margin-right: 26px;
}


.latesworksmenu li a {
    font-size: 16px;
    color: #555555;
    transition: color 0.3s;
}

.latesworksmenu li a:hover{
    color:#c0301c;
}

.blogposts {
    margin: 65px auto 77px;
}

.blogheadlines {
    text-align: center;
}



