
.post {
    margin: 72px 0;
}
.posttext {
    text-align: left;
}


.postimg, .posttext {
    display: inline-block;
    vertical-align: top;
    color: #555555;
}

.postimg {
    margin-right: 38px;
}

.postimg img {
    display:block;
    width: 100%;
    height: auto;
    margin: auto;
}

.postdata {
    float: left;
    border: 2px solid #555555;
    width: 71px;
    color: #777777;
    font-size: 24px;
    font-weight: bold;
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    padding: 16px 0 19px;
    line-height: 0.8;
    margin-right: 25px;
}

.postdata span {
    font-size: 14px;
}
.autor {
    margin-bottom: 30px;
}
.autor a h5   {
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #555555;
    margin: 15px 0;
    transition: color 0.3s;
}

.autor:hover a h5,
.autor:hover span a {
    color: #c0301c;
}

.autor span,
.autor span a {
    font-size: 13px;
    font-style: italic;
    color: #777777;
    line-height: 1.3;
    transition: color 0.3s;
}

.read {
    font-size: 14px;
    line-height: 1.8;
}
.readmore {
    margin-top: 22px;
}

.readmore a {
    font-size: 13px;
    margin-top: 65px;
    color: #555555;
    font-weight: bold;
    transition: color 0.3s;
}

.readmore a:hover {
    color: #c0301c;
}

@media (max-width: 1140px) {
    .post {
        text-align: center;
    }
    .postdata {
        margin-left: 0;
    }

    .read {
        display: none;
    }
    .postimg {
        margin-right: 0;
    }

    .postimg img {
        width: 90%;
        height: auto;
        margin: auto;
    }
    .readmore a{
        text-align: left;
        font-size: 16px;
    }

    .posttext {
        text-align: center;
        margin: 20px 10px 0;
        padding: 0;
    }
    .postdata {
        margin-left: 15px;
    }
}

@media (max-width: 350px) {
    .postimg img {
        width: 80%;
        height: auto;
        margin: auto;
    }

}
