.service,
.aboutus{
    margin: 90px auto 95px;
    text-align: center;
}

.aboutus {
    margin-bottom: 70px;
}

h4 {
    font-size: 20px;
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 auto;
    color: #555555;
}

.aboutus h4{
    padding-top: 99px
}

hr {
    width: 50px;
    height: 2px;
    margin: 25px auto;
    border: none;
    background-color:#555555;
}


.service span,
.aboutus span{
    font-family: 'Roboto Slab', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #555555;
    margin-top: 30px;
}

.servicetype,
.aboutustextpart {
    margin: 70px 0;
    color: #555555;
    font-size: 14px;
}

.aboutustextpart {
    margin-bottom: 20px;
}

.servicetypeelement,
.textpart {
    display: inline-block;
}

.servicetypeelement:first-child {
    padding-right: 43px;
}

.servicetypeelement:last-child {
    padding-left: 43px;
}


.textpart:first-child {
    padding-right: 14px;
}

.textpart:last-child {
    padding-left: 14px;
}

.icon1,.icon2, .icon3 {
    position: relative;
    border: 2px solid #dddddd;
    border-radius: 88px;
    margin: auto;
    background-color: #ffffff;
    transition: background-color 0.3s;
}


.icon1{
    width: 43px;
    height: 43px;
    padding: 20px;
}
.icon2{
    width: 53px;
    height: 40px;
    padding: 23px 16px;
}

.icon3 {
    width: 48px;
    height: 47px;
    padding: 19px;
}
/*доработать коректную рработу ховера*/
.icon1:hover,
.icon2:hover,
.icon3:hover{
    background-color: #c0301c;
}


.hoverservicon {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity:0;
    transition: opacity 0.3s;
}

.icon1:hover .servicon,
.icon2:hover .servicon,
.icon3:hover .servicon{
    display: none;
}

.icon1 .hoverservicon:hover,
.icon2 .hoverservicon:hover,
.icon3 .hoverservicon:hover{
    opacity:1;
}

.servicetype h5{
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 30px auto 15px;
    font-size: 14px;
}
.aboutustextpart span,
.servicetype span{
    font-size: 14px;
    font-family: 'Roboto Slab', Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.7;
}

.aboutusbackcolor{
    background-color: #f8f8f8;
}




