.slider {
    margin-top: 70px;

}

.member {
    width: 100%;
    height: auto;
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0 15px;
}

.member a {
    text-align: center;
    color: #555555;
    font-size: 13px;
}

.member img {
    margin: 0;
}

.member a h5 {
    font-size: 14px;
    margin: 14px auto 8px;
}



.slick-next  {
    top: 40%;
    right: 0;
    bottom: 0;
    left: 96.3%;
    z-index:100;
}

.slick-next.slick-arrow {
    width: 35px;
    height: 38px;
    background: #8e8e8e url("img/angleright.png") no-repeat center center;
}
.slick-next:before{
    content: '';
}

.slick-next.slick-arrow:hover {
    background: #c0301c url("img/anglerighthover.png") no-repeat center center;
}

.slick-prev  {
    top: 40%;
    right: 0;
    bottom: 0;
    left: 1.3%;
    z-index:100;
}

.slick-prev.slick-arrow {
    width: 35px;
    height: 38px;
    background: #8e8e8e url("img/angleleft.png") no-repeat center center;
}
.slick-prev:before{
    content: '';
}

.slick-prev.slick-arrow:hover {
    background: #c0301c url("img/anglelefthover.png") no-repeat center center;
}
