.slider {
    margin-top: 70px;
    position: relative;
}

.member {
    width: 100%;
    height: auto;
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
}

.member a {
    text-align: center;
    color: #555555;
    font-size: 13px;
}

.member img {
    margin: 0;
}

.member a h5 {
    font-size: 14px;
    margin: 14px auto 8px;
}

.slider:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 38px;
    background: #8e8e8e url("img/angleleft.png") no-repeat center center;
    top: 35%;
    right: 100%;
    bottom: 0;
    left: 0;
    z-index:100;
}

.slider:hover:before {
    background: #c0301c url("img/anglelefthover.png") no-repeat center center;
}

.slider:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 38px;
    background: #8e8e8e url("img/angleright.png") no-repeat center center;
    top: 35%;
    right: 0;
    bottom: 0;
    left: 95%;
    z-index:100;
}

.slider:hover:after {
    background: #c0301c url("img/anglerighthover.png") no-repeat center center;
}

