html {
    font-size: 14px;
    font-family: 'Roboto Slab', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    min-width: 320px;
    margin: auto;
}

.listunstyle {
    list-style: none;
    padding-left:0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.clear {
    clear: both;
}

.container {
    max-width: 1140px;
    color: #ffffff;
    margin: auto;
}

@media (max-width: 1024px) {

    .container {
        max-width: 1024px;
        margin: auto;
    }
}

@media (max-width: 768px) {

    .container {
        max-width: 768px;
        margin: auto;
    }
}